Header set Access-Control-Allow-Origin: "*"
Header set Access-Control-Allow-Origin: https://www.aviationweather.gov/ 

AddType text/html .shtml
AddHandler server-parsed .html
AddHandler server-parsed .shtml
Options Indexes FollowSymLinks Includes