h1 { font-size: 38px; line-height: 42px; margin-bottom: 10px; letter-spacing: -1px; }
h2 { font-size: 28px; line-height: 36px; margin-bottom: 8px; }
h3 { font-size: 22px; line-height: 30px; margin-bottom: 6px; }
h4 { font-size: 20px; line-height: 30px; margin-bottom: 3px; }
h5 { font-size: 18px; line-height: 30px; }
h6 { font-size: 14px; line-height: 30px; }

h1, h2, h3, h4, h5, h6, p, ul, form, table, select, input{
    color: #313131;
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
}

body {
    background-color: #FFFFFF;
    position: relative;
    margin: auto;
}

p {
    padding: 30px;
}

.sectionHead {
    text-align: center;
}


.sectionDiv {
    border: 2px solid #AB946C;
    margin: 0px;
}

.graysection {
    background-color: #9DA0A0;
    margin: 0px;
}