h1 { font-size: 38px; line-height: 42px; margin-bottom: 10px; letter-spacing: -1px; }
h2 { font-size: 28px; line-height: 36px; margin-bottom: 8px; }
h3 { font-size: 22px; line-height: 30px; margin-bottom: 6px; }
h4 { font-size: 20px; line-height: 30px; margin-bottom: 3px; }
h5 { font-size: 18px; line-height: 30px; }
h6 { font-size: 14px; line-height: 30px; }

h1, h2, h3, h4, h5, h6, p, ul, form, table, select, input{
    color: #313131;
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
}

body {
    background-color: #FFFFFF;
    position: relative;
    margin: auto;
}

#introPara {
    padding: 30px;
}

/*Section Full Scale*/
.sectionHead {
    text-align: center;
}


.sectionDiv {
    border: 2px solid #fbc544;
    margin: 0px;
}

section.lightgraysection {
    background-color: #d5d0c9;
    margin: 0px;
}
section.graysection {
    background-color: #9da0a0;
    margin: 0px;
}
/*END - Section Full Scale*/

/*All main tables used in website*/
table.sectTable {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table.sectTable tr {
    border-bottom: solid;
    border-width: 1.5px;
    min-width: 10%;
    padding: 500px;
}

table.sectTable tr:last-child {
    border-width: 0px;
}

table.sectTable th, table.sectTable td{
    padding: 5px;
}

table.sectTable th{
    text-align: center;
}

table.sectTable td{
    text-align: center;
}
/*END - All main tables used in website*/

/*All input values*/
input:focus, select:focus{
    border: 3px solid #770000;
}

select, input {
    min-width: 100px;
    height: auto;
    width: 100px;
    border: 3px solid #a5a5a5;
  }
/*END - All input values*/

