header {
    height: 100px;
    width: unset;
    text-align: left;
    background-color: #FFFFFF;
    margin: auto;
    border-bottom: 5px solid #770000;
}

table.header  {
    border: 0px;
    width: 100%;
    padding-top: 10px
}

td.title {  
    text-align: right;
    width: 100%;
    padding: 0px 25px;
}

#logoPic{
    padding: 10px 10%;
    height: 50px;
}
h2.title {
    margin: 0px;
}