

#selectTable {
  border-style: hidden;
  width: 12.5%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin: auto;
  }
  
  .wbinvisRow {
    height: 0px !important ;
  }
  
  .wbTableBold {
    border-width: 3px !important;
  }
  
  #wbTable tr:nth-child(odd) {
  background-color: #e6e6e6;
  }
  
  #wbTable th:nth-child(1){
  width:initial;
  }
  #wbTable td:nth-child(2){
  width:30%;
  }
  #wbTable td:nth-child(3){
  width:15%;
  }
  #wbTable td:nth-child(4){
  width:30%;
  }
  
  .chartContainer {
    height: 50vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }