#weatherTable th:nth-child(1){
    width:initial;
    }
    
#weatherTable td:nth-child(2){
    width:35%;
    }

#weatherTable td:nth-child(3){
    width:35%;
    }

.smallInput {
        width: 50px;
    }